<div class="project-detail" *ngIf="selectedProject | async as selectedProject">
  <div class="row my-4 mx-xl-5 px-xl-5 px-4">
    <div class="col-12 mb-3 mt-lg-0 mt-2">
      <a
        [routerLink]="['/']"
        [fragment]="'portfolio'"
        queryParamsHandling="preserve"
        class="text-secondary text-decoration-none project-detail__link"
      >
        <i class="bi bi-chevron-left">{{ goBack | translate }}</i>
      </a>
      <div class="col">
        <h1 class="fw-bold mb-1 fs-1">{{ selectedProject.title | translate }}</h1>
      </div>
      <div class="col">
        <span class="project-detail__description--bg-rainbow badge">{{ category | uppercase | translate }}</span>
        <p class="mt-0 d-inline"><i class="bi bi-dot ms-1"></i> {{ selectedProject.date }}</p>
      </div>
    </div>
    <div class="col-xxl-7 mb-xxl-0 mb-4">
      <div class="my-5" *ngIf="loading"><app-spinner></app-spinner></div>
      <app-slide *ngIf="!loading" [images]="selectedProject.images"></app-slide>
    </div>
    <div class="col-xxl-5 ps-xxl-5">
      <h3 class="mb-4 fst-italic fw-bold rainbow-text">{{ selectedProject.description | translate }}</h3>
      <p>{{ selectedProject.paragraphOne | translate }}</p>
      <p *ngIf="selectedProject.paragraphTwo">
        {{ selectedProject.paragraphTwo | translate }}
      </p>
      <p *ngIf="selectedProject.paragraphThree">
        {{ selectedProject.paragraphThree | translate }}
      </p>
      <p class="fst-italic fs-7 project-detail__description--border-rainbow mt-5 pt-3 mb-0">
        <small [innerHTML]="selectedProject.technicalSpecs | translate"></small>
      </p>
      <div class="mt-4" *ngIf="selectedProject.urlName" (click)="goToLink()">
        <button class="btn btn-outline-secondary fw-bold">
          {{ selectedProject.urlName | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
