<div class="cover">
  <div class="cover__parallax d-flex justify-content-center align-items-center">
    <div class="py-5 text-center">
      <h1 class="mb-0 display-5 text-light">¡Hello!</h1>
      <h1 class="mt-0 display-1 fw-bold text-light">My name is Ángela</h1>
      <h2 class="display-5 text-light">
        and I'm a <span class="display-3 fw-semibold rainbow-text">{{ typedText | async }}</span>
      </h2>
    </div>
  </div>

  <div class="content">
    <h2>¡Bienvenido al Efecto Parallax!</h2>
    <p>El texto aquí está por encima de la imagen de fondo con el efecto parallax.</p>
  </div>

  <div class="cover__parallax2">
    <div class="vh-50 p-5">
      <h2 class="text-center">Habilidades</h2>
      <app-progress-bars></app-progress-bars>
    </div>
  </div>
</div>
