<div class="cover">
  <div class="cover__parallax d-flex justify-content-center align-items-center">
    <div class="mb-5">
      <h2 class="mb-0">¡Hola!</h2>
      <h1 class="cover__parallax__title mt-0 lh-1">Soy Ángela</h1>
      <h2 class="cover__parallax__job-position lh-1">Lorem Ipsum</h2>
    </div>
  </div>

  <div class="content">
    <h2>¡Bienvenido al Efecto Parallax!</h2>
    <p>El texto aquí está por encima de la imagen de fondo con el efecto parallax.</p>
  </div>

  <div class="cover__parallax2">
    <div class="vh-50 p-5">
      <h2 class="text-center">Habilidades</h2>
      <app-progress-bars></app-progress-bars>
    </div>
  </div>
</div>
