<div class="cover">
  <div class="cover__parallax d-flex justify-content-center align-items-center">
    <div class="py-5 px-2 text-center">
      <h1 class="mb-0 display-5 text-light">{{ hello | translate }}</h1>
      <h1 class="mt-0 display-1 fw-bold text-light">{{ introduction | translate }}</h1>
      <h2 class="display-5 text-light">
        {{ andIm | translate }}
        <span class="display-3 fw-semibold rainbow-text" *ngIf="typedText | async as typedTextValue">{{ typedText | async }}</span>
      </h2>
    </div>
  </div>
</div>
