<div class="main-page">
  <app-navbar [navBar]="navBar"></app-navbar>
  <div class="main-page__cover">
    <app-cover></app-cover>
  </div>
  <div class="main-page__about" id="about">
    <app-about-me></app-about-me>
  </div>
  <div class="main-page__skills" id="skills">
    <app-progress-bars></app-progress-bars>
  </div>
  <div class="row my-5 mx-xl-5 px-5">
    <div class="main-page__gallery" id="portfolio">
      <h2 class="text-center mt-2 mb-5">Portfolio</h2>
      <app-tabs-gallery [tabs]="tabsItem" [selectedCategory]="selectedCategory" (actionSelectTab)="getTabs($event)"></app-tabs-gallery>
      <div class="my-5" *ngIf="loading"><app-spinner></app-spinner></div>
      <div *ngIf="!loading">
        <app-gallery [gallery]="gallery" [selectedCategory]="selectedCategory" (projectInfoAction)="showProjectInfo($event)"></app-gallery>
      </div>
    </div>
  </div>
  <div class="main-page__resume mt-5 bg-light" id="resume"><app-work-experience></app-work-experience></div>
  <div class="bg-dark-subtle text-center py-3">
    <small class="text-light">Lorem ipsum</small>
  </div>

  <!--<app-modal-detail
    (closeModal)="closeModal()"
    [open]="(open | async) || false"
    [category]="selectedCategory"
    [selectedProject]="selectedProject"
    [currentIndex]="currentIndex"
    [loading]="loadingModal"
  ></app-modal-detail>-->
</div>
