<div class="main-page">
  <app-navbar></app-navbar>
  <app-cover></app-cover>
  <div class="row my-5 mx-xl-5 px-5">
    <h2 class="text-center mb-5">Portfolio</h2>
    <div class="main-page__gallery">
      <app-tabs-gallery [tabs]="tabsItem" [selectedCategory]="selectedCategory" (actionSelectTab)="getTabs($event)"></app-tabs-gallery>
      <div class="my-5" *ngIf="loading"><app-spinner></app-spinner></div>
      <div *ngIf="!loading">
        <app-gallery [gallery]="gallery" [selectedCategory]="selectedCategory" (projectInfoAction)="showProjectInfo($event)"></app-gallery>
      </div>
    </div>
  </div>
  <div class="mt-5 bg-light">
    <app-work-experience></app-work-experience>
  </div>

  <app-modal-detail
    (closeModal)="closeModal()"
    [open]="(open | async) || false"
    [category]="selectedCategory"
    [selectedProject]="selectedProject"
    [currentIndex]="currentIndex"
    [loading]="loadingModal"
  ></app-modal-detail>
</div>
