<div class="about-me bg-light dark">
  <div class="row py-5">
    <div class="col-6 offset-3 pb-3">
      <h2 class="text-center mb-5">About me</h2>
      <hr />
      <p class="mt-4">
        I am a multidisciplinary professional driven by curiosity, which makes me a versatile creator always eager to explore new ways of
        problem-solving, creating and innovating.
      </p>
      <p class="mb-4">
        My passion for design and creativity leads me to constantly discover new forms of expression, whether through visual identities,
        editorial projects, or digital experiences. I love combining creativity and functionality to deliver unique solutions that connect
        with the end user, effectively conveying the intended message. I always strive to add value and personality, ensuring each project
        stands out as one of a kind. If you’d like to collaborate or simply exchange ideas, I’m here to help bring your projects to life!
      </p>
      <!--<p>
        Soy una trabajadora multidisciplinar cuyo motor es la curiosidad, lo que me convierte en una profesional versátil, siempre dispuesta
        a explorar nuevas formas de crear, innovar y resolver. Mi pasión por el diseño y la creatividad me lleva a descubrir constantemente
        nuevas formas de expresión, ya sea a través de identidades visuales, proyectos editoriales o experiencias digitales. Me encanta
        combinar creatividad y funcionalidad para ofrecer soluciones únicas que conecten con el usuario final, transmitiendo el mensaje para
        el que han sido creadas. Siempre busco aportar valor y personalidad, asegurándome de que cada proyecto sea único. Si quieres
        colaborar o simplemente intercambiar ideas, ¡estoy aquí para ayudarte a dar vida a tus proyectos
      </p>-->
      <hr class="me-0 ms-auto" />
      <div class="d-flex align-items-center mt-4">
        <button class="btn btn-outline-secondary btn-lg fw-semibold">Download Resume</button>
        <div class="ms-auto d-flex">
          <button class="btn btn-outline-secondary fw-semibold me-4"><i class="bi bi-linkedin fs-5"></i></button>
          <button class="btn btn-outline-secondary fw-semibold"><i class="bi bi-envelope fs-5"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>
