<div class="about-me bg-light dark">
  <div class="row py-5">
    <div class="col-6 offset-3 pb-3">
      <h3 class="text-center mb-4">About me</h3>
      <hr />
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus nec egestas massa, sit amet commodo nibh. Curabitur sollicitudin
        mauris eget lacinia mattis. Mauris egestas diam nulla, vitae suscipit neque fermentum eu. Aliquam egestas tellus a mi sollicitudin
        posuere. Sed tempus maximus massa ut venenatis.
      </p>
      <p class="mb-4">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus nec egestas massa, sit amet commodo nibh. Curabitur sollicitudin
        mauris eget lacinia mattis.
      </p>
      <hr class="me-0 ms-auto" />
      <div class="text-center mt-3">
        <button class="btn btn-outline-secondary fw-semibold btn-lg fs-6">Download Resume</button>
      </div>
    </div>
  </div>
</div>
