.slider {
  user-select: none;
  overflow: hidden;

  &__container {
    display: flex;
    transition: transform 0.5s ease;
  }

  &__imgs {
    flex: 0 0 auto;
    width: 100%;
    height: auto;

    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.15) 0%,
        rgba(0, 0, 0, 0.05) 30%,
        rgba(0, 0, 0, 0) 50%,
        rgba(0, 0, 0, 0.05) 70%,
        rgba(0, 0, 0, 0.15) 100%
      );
      z-index: 1;
      pointer-events: none;
    }
  }

  &__imgs img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &__arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 10;

    &--left {
      left: 15px;
    }

    &--right {
      right: 15px;
    }
  }

  &__dot {
    background-color: var(--bs-secondary-color);
    cursor: pointer;
    text-align: center;
    height: 0.5rem;
    width: 2rem;
    margin: 6px;
    transition: all 0.2s;

    &--active {
      background: var(--rainbow-bg);
    }

    &:hover,
    &.active:hover {
      background: var(--rainbow-bg);
    }
  }

  @media (max-height: 768px) {
    &__dot {
      height: 0.3rem;
      width: 1rem;
      margin: 4px;
    }
  }
}
