<div class="slider">
  <div class="d-flex justify-content-between align-items-center position-relative">
    <button class="slider__arrow slider__arrow--left btn btn-outline-light" [disabled]="indexValue === 0" (click)="prevSlide()">
      <i class="bi bi-chevron-left fs-6"></i>
    </button>
    <div class="slider__container" #sliderContainer>
      <div class="slider__imgs" *ngFor="let image of images; let i = index">
        <img [src]="image.src" [alt]="image.altText" class="img-fluid" />
      </div>
    </div>
    <button class="slider__arrow slider__arrow--right btn btn-outline-light" [disabled]="indexValue === maxIndex" (click)="nextSlide()">
      <i class="bi bi-chevron-right fs-6"></i>
    </button>
  </div>
  <div class="row justify-content-center mt-3">
    <div
      class="slider__dot"
      *ngFor="let image of images; let i = index"
      [class.slider__dot--active]="i === indexValue"
      (click)="goToSlide(i)"
    ></div>
  </div>
</div>
