<div class="progress-bars">
  <div class="progress-bars__parallax">
    <div class="container progress-bars__parallax p-5">
      <div class="row pt-4 pb-5">
        <h2 class="text-center mb-5 text-light">Skills & Tools</h2>
        <div class="col-12 col-md-6 gx-5">
          <div *ngFor="let progress of progressBar" class="mb-3">
            <p class="mb-1 text-light">{{ progress.skill }}</p>
            <div class="progress" role="progressbar" [attr.aria-valuenow]="progress.percent" aria-valuemin="0" aria-valuemax="100">
              <div class="progress-bar" [style.width.%]="progress.percent"></div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 gx-5">
          <div *ngFor="let progress of progressBar" class="mb-3">
            <p class="mb-1 text-light fs">{{ progress.skill }}</p>
            <div class="progress" role="progressbar" [attr.aria-valuenow]="progress.percent" aria-valuemin="0" aria-valuemax="100">
              <div class="progress-bar" [style.width.%]="progress.percent"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
