<div class="work-experience">
  <div class="container py-5">
    <h2 class="text-center mb-5">Formación y experiencia</h2>
    <div class="row bg-light b-5">
      <div class="col-6">
        <div class="mb-3">
          <h4>Work Position</h4>
          <h6>2020-2025</h6>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet nunc sed arcu consequat ultricies posuere sed ligula.</p>
          <hr />
        </div>
        <div class="mb-3">
          <h4>Work Position</h4>
          <h6>2020-2025</h6>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet nunc sed arcu consequat ultricies posuere sed ligula.</p>
          <hr />
        </div>
      </div>
      <div class="col-6">
        <div class="mb-3">
          <h4>Work Position</h4>
          <h6>2020-2025</h6>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet nunc sed arcu consequat ultricies posuere sed ligula.</p>
          <hr />
        </div>
        <div class="mb-3">
          <h4>Work Position</h4>
          <h6>2020-2025</h6>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet nunc sed arcu consequat ultricies posuere sed ligula.</p>
          <hr />
        </div>
      </div>
    </div>
    <div class="text-center mt-4">
      <button class="btn btn-outline-secondary fw-bold btn-lg">Ampliar</button>
    </div>
  </div>
</div>
