<nav class="navbar navbar-expand-lg px-xl-2 fixed-top">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ms-auto fs-5 text-secondary">
        <a
          class="nav-link"
          [ngClass]="{ 'fw-bold': item.active }"
          [attr.aria-current]="item.active"
          [href]="item.href"
          *ngFor="let item of navBar"
          (click)="setNavBarOption(item)"
        >
          {{ item.name }}
        </a>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Language</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">English</a></li>
            <li><a class="dropdown-item" href="#">Spanish</a></li>
          </ul>
        </li>
      </div>
    </div>
  </div>
</nav>
