<nav class="navbar navbar-expand-lg px-xl-2 fixed-top">
  <div class="container-fluid">
    <button
      class="navbar-toggler border-2 border-secondary mt-2"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="bi bi-list text-secondary fs-2"></i>
    </button>
    <div class="collapse navbar-collapse text-secondary" id="navbarNavAltMarkup">
      <div class="navbar-nav ms-auto fs-5 text-secondary">
        <ng-container *ngIf="!isProjectPage">
          <a
            class="nav-link"
            [ngClass]="{ 'fw-bold': item.active }"
            [attr.aria-current]="item.active"
            [href]="item.href"
            *ngFor="let item of navBar"
            (click)="setNavBarOption(item)"
          >
            {{ item.name | translate }}
          </a>
        </ng-container>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">
            {{ "header.language." + currentLanguage | translate }}
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" (click)="changeLanguage('en')" *ngIf="currentLanguage !== 'en'">{{
                "header.language.en" | translate
              }}</a>
            </li>
            <li>
              <a class="dropdown-item" (click)="changeLanguage('es')" *ngIf="currentLanguage !== 'es'">{{
                "header.language.es" | translate
              }}</a>
            </li>
          </ul>
        </li>
      </div>
    </div>
  </div>
</nav>
